Repository statisticsnorway/noku-ml: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types_or: [python, jupyter]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]

Create LICENSE.ml
  LICENSE.ml
Due: none

Delete LICENSE.ml
  LICENSE.ml
Due: none

Update
  src/extra/nni tester/nni.py
  src/functions/create_datafiles.py
  src/functions/kpi.py
  src/functions/ml_modeller.py
  src/functions/oppdateringsfil.py
  src/notebooks/File Transfers.ipynb
Due: black

poetry
  poetry.lock
Due: none

Update File Cell
  src/notebooks/Master.ipynb
Due: black

Update README.md
  README.md
Due: none

Update README_NO.md
  README_NO.md
Due: none

dont look to closely here
  src/extra/fun/README_Banneord_NO.md
Due: none

MAE results
  src/notebooks/mae_results.ipynb
Due: black

New KNN
  src/functions/ml_modeller.py
Due: black

Update
  src/functions/ml_modeller.py
Due: black

Updates - functionality
  src/functions/create_datafiles.py
  src/functions/ml_modeller.py
  src/functions/oppdateringsfil.py
  src/notebooks/Master.ipynb
Due: black

New bucket
  src/functions/create_datafiles.py
  src/functions/ml_modeller.py
  src/functions/oppdateringsfil.py
  src/functions/visualisations.py
  src/notebooks/File Transfers.ipynb
  src/notebooks/Master.ipynb
Due: black

Updated functionality and originall KNN model
  src/functions/create_datafiles.py
  src/functions/ml_modeller.py
  src/functions/oppdateringsfil.py
Due: black

Choose whether to rerun ml model.
  src/notebooks/Master.ipynb
Due: black

Update
  src/notebooks/File Transfers.ipynb
Due: black

PCA update
  src/functions/ml_modeller.py
  src/notebooks/Master.ipynb
Due: black

General updates.
  src/functions/create_datafiles.py
  src/functions/ml_modeller.py
  src/functions/oppdateringsfil.py
  src/functions/time.py
  src/notebooks/Master.ipynb
Due: black

Update poetry.lock
  poetry.lock
Due: none

Commit final changes.
  poetry.lock
  pyproject.toml
  src/extra/fun/banneord.py
  src/extra/nni tester/NNI Master.ipynb
  src/functions/create_datafiles.py
  src/functions/oppdateringsfil.py
  src/notebooks/AO.ipynb
  src/notebooks/File Transfers.ipynb
  src/notebooks/ML function builder.ipynb
  src/notebooks/Master.ipynb
  src/notebooks/klargjøring.ipynb
Due: black, check-toml

Basic NR viktige lister checks
  src/functions/viktige_lister.py
  src/notebooks/Viktige Lister.ipynb
  src/notebooks/imports.py
Due: black
