Repository statisticsnorway/noku-ml: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Initial commit 2
  src/notebooks/AO.ipynb
  src/notebooks/geocoding.ipynb
Due: black

laget base funksjon og master notebook
  poetry.lock
  pyproject.toml
  src/functions/knn.py
  src/notebooks/AO.ipynb
  src/notebooks/Master.ipynb
  src/notebooks/geocoding.ipynb
  src/notebooks/pipeline.png
  src/path_to_file.png
Due: black, check-toml

Master Notebook + funksjoner
  poetry.lock
  pyproject.toml
  src/functions/knn.py
  src/functions/kommune.py
  src/functions/networks.py
  src/notebooks/AO.ipynb
  src/notebooks/Master.ipynb
  src/notebooks/flow chart.png
  src/notebooks/plan.py
  src/notebooks/trend.png
Due: black, check-toml

Linear Regression test - stacked med KNN
  src/notebooks/AO.ipynb
  src/notebooks/Master.ipynb
Due: black

Starter koden for å klargjøre delreg filene
  src/notebooks/Klargjøring.ipynb
  src/notebooks/flow chart 2.png
Due: black

Belfolkning og Inntekt data
  src/functions/kommune_inntekt.py
  src/functions/kommune_pop.py
  src/notebooks/ML function builder.ipynb
  src/notebooks/dynarev.ipynb
  src/notebooks/geocoding.ipynb
  src/notebooks/klargjøring.ipynb
Due: black

Update.
  src/functions/ao.py
  src/functions/input_data.py
  src/functions/kommune_inntekt.py
  src/functions/kommune_pop.py
  src/functions/kommune_translate.py
  src/functions/kpi.py
  src/functions/test.ipynb
  src/notebooks/00_imports.ipynb
  src/notebooks/AO.ipynb
  src/notebooks/Klargjøring.ipynb
  src/notebooks/Master.ipynb
  src/notebooks/klargjøring.ipynb
  src/notebooks/plan.py
Due: black

visualisation functions
  src/functions/visualisations.py
Due: black

Corrected thematic_kommune function
  src/functions/visualisations.py
Due: black

Dash application
  src/functions/create_datafiles.py
  src/functions/dash_application.py
  src/functions/input_data.py
  src/functions/knn.py
  src/functions/kommune.py
  src/functions/kommune_translate.py
  src/functions/ml_modeller.py
  src/functions/visualisations.py
  src/notebooks/Master.ipynb
  src/notebooks/imports.py
  src/notebooks/klargjøring.ipynb
Due: black

Update
  src/functions/create_datafiles.py
  src/functions/dash_application.py
  src/functions/ml_modeller.py
  src/functions/oppdateringsfil.py
  src/functions/visualisations.py
  src/notebooks/Master.ipynb
  src/notebooks/imports.py
  src/notebooks/klargjøring.ipynb
Due: black

Annotations
  src/functions/create_datafiles.py
  src/functions/kommune.py
  src/functions/kommune_inntekt.py
  src/functions/kommune_pop.py
  src/functions/kommune_translate.py
  src/functions/ml_modeller.py
  src/functions/oppdateringsfil.py
  src/functions/visualisations.py
  src/notebooks/Master.ipynb
Due: black

update to readme file and a visualisation function
  README.md
  poetry.lock
  pyproject.toml
  src/functions/test.ipynb
  src/functions/visualisations.py
  src/notebooks/00_imports.ipynb
  src/notebooks/Master.ipynb
  src/notebooks/flow chart 2.png
  src/notebooks/flow chart.png
  src/notebooks/pipeline.png
  src/notebooks/trend.png
  src/path_to_file.png
Due: black, check-toml

Update README.md
  README.md
Due: none

Create README_NO.md
  README_NO.md
Due: none

Update NN model
  src/functions/ml_modeller.py
  src/notebooks/Master.ipynb
Due: black

Swear Word Analysis
  src/extra/fun/Happy Fun Times.ipynb
  src/extra/fun/imports.py
Due: black

NNI Testing
  src/extra/nni tester/imports.py
  src/extra/nni tester/nni.py
Due: black

Commit main notebook for NNI testing
  src/extra/nni tester/NNI Master.ipynb
Due: black

Create NNI_README.md
  src/extra/nni tester/NNI_README.md
Due: none

Update NNI_README.md
  src/extra/nni tester/NNI_README.md
Due: none

Create NNI_README_NO
  src/extra/nni tester/NNI_README_NO
Due: none

Update NNI_README_NO
  src/extra/nni tester/NNI_README_NO
Due: none

Create NNI_README_NO.md
  src/extra/nni tester/NNI_README_NO.md
Due: none

Update NNI_README_NO.md
  src/extra/nni tester/NNI_README_NO.md
Due: none

Delete src/extra/nni tester/NNI_README_NO
  src/extra/nni tester/NNI_README_NO
Due: none

Fix some errors
  src/extra/fun/Happy Fun Times.ipynb
  src/extra/fun/banneord.py
  src/extra/fun/imports.py
  src/extra/nni tester/imports.py
Due: black

Create README_Banneord.md
  src/extra/fun/README_Banneord.md
Due: none

Create README_Banneord_NO.md
  src/extra/fun/README_Banneord_NO.md
Due: none

Oppdatering
  src/functions/create_datafiles.py
  src/functions/ml_modeller.py
  src/functions/oppdateringsfil.py
  src/functions/visualisations.py
  src/notebooks/File Transfers.ipynb
  src/notebooks/Master.ipynb
Due: black

Path conditions:
  black: any of: \.py$, \.ipynb$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
